.manage-card-title {
    text-align: left;

}

.manage-card-text {
    word-wrap: break-word;
    text-align: left;
}



.manage-card-img {
    width: 200px;
}

.manage-card-tools {
    background-color: #f8f9fa !important;
    padding: 1.25rem;
}

.manage-previewZone {
    width: 165px;
    height: 165px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #f6f6f6;
    background-color: #f6f6f6;
    border-radius: 5px 5px 5px 5px px;
}

.manage-card-imageZone {
    width: 200px;

}

.manage-card-textZone {
    width: 540px;

}

.manage-card-imageFit {
    object-fit: cover;
    object-position: 25% 0;
}